*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body{
  background-color: #131219;
  margin-top: 2%;
  margin-left: 36%;
 }

 input{
  background-color: #fcfdff;
  width: 400px;
  height: 30px;
  display: block;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

h1{
  color: #fff;
  font-family: Ubuntu;
  margin-left: 27%;
}

.btn{
  width: 400px;
  height: 50px;
  display: block;
  cursor: pointer;
  background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(41,18,82,1) 35%,rgba(41,18,82,1) 100%);
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #4e0cc8;
}

form{
  box-sizing: border-box;
  font-family: Ubuntu;
  color: #fff;
  width: 500px;
}